@page "/"
@using System.Net.Http
@inject HttpClient Http
@inject NavigationManager NavigationManager


 

 <div class=" container-fluid card-deck viewport-100 mt-3">
    
        <div class="col-md-12 mb-3">
            
            <div class="card shadow-lg bg-white rounded">
                <img src="img/banner_integralmedica.jpg" class="image-responsive">
            </div>
            <h2 class="mt-4 text-center font-weight-bold">Produtos</h2>  
            
        </div>
          
    

    @foreach(var produto in ListaProdutos)
    {
        <div class="col-md-3">
            <div class="card text-center shadow-lg bg-white rounded mb-3 card-produto">
                <ImagemProduto ImagemRemota="@produto.ImagemProduto"/>
                <div class="card-body">
                    <h5 class="card-title text-center text-primary">@produto.Nome</h5>
                    <p class="card-text text-center text-secondary">@String.Format("{0, 0:C2}", @produto.Preco)</p>
                 <button class="btn btn-primary" @onclick="@(() => CreateCarrinho(produto))"><i class="fas fa-shopping-cart text-white"></i></button>
                </div>
            </div> 
        </div>      
        
    }
</div>

        
        




@code {
    public List<Produto> ListaProdutos = new List<Produto>();
    protected override async Task OnInitializedAsync()
    {

        var produtos = await Http.GetFromJsonAsync<List<Produto>>("/Produto/List");
        foreach (var item in produtos)
        {
            ListaProdutos.Add(item);
        }
    }

     protected async Task CreateCarrinho(Produto produto)
    {
        await Http.PostAsJsonAsync("/Carrinho/Create", produto);
        NavigationManager.NavigateTo("/");
    }
    
}

